@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-background-main);
}

:root {
  /* COLORS */
  --color-primary: #ff9800;
  --color-header-text: #283557;
  --color-main-text: #d2d4dc;
  --color-background-header: rgb(180, 186, 180);
  --color-background-main: #2d2f32;
  --color-background-card: #3c3e44;

  /* FONT */
  --font-family-headline: 'Roboto', sans-serif;
  --font-family-text: 'Ubuntu', sans-serif;

  /* BORDERS */
  --border-radius: 15px;
}

.header {
  padding: 3rem;
  text-align: center;
  background-color: black;
  color: rgb(211, 203, 203);
  font-family: 'roboto';
  background-size: cover;
  background-position: center;
}

.main {
  display: grid;
  color: var(--color-main-text);
  padding: 1rem 1rem;

  background-image: url('https://t3.ftcdn.net/jpg/01/96/83/20/400_F_196832044_ISa3G24W2dmiW5X94hJq59Cs8uHat8I1.jpg');
  height: 100vh;
}

.button {
  width: 100%;
}

.button:hover {
  background-color: rgb(115, 115, 228);
}

.footer {
  color: antiquewhite;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  font-family: 'Dancing Script', cursive;
}
